---
import Base from "@layouts/Base.astro";
import TopNav from "@components/TopNav.astro";
import Hero from "@components/Hero.astro";
import ProblemSection from "@components/ProblemSection.astro";
import WhatItIs from "@components/WhatItIs.astro";
import HowItWorks from "@components/HowItWorks.astro";
import Deliverables from "@components/Deliverables.astro";
import Proof from "@components/Proof.astro";
import RuleAnatomy from "@components/RuleAnatomy.astro";
import Pricing from "@components/Pricing.astro";
import NotThis from "@components/NotThis.astro";
import Engage from "@components/Engage.astro";
import SiteFooter from "@components/SiteFooter.astro";
---

<Base>
  <TopNav />
  <main>
    <Hero />
    <ProblemSection />
    <WhatItIs />
    <HowItWorks />
    <Deliverables />
    <Proof />
    <RuleAnatomy />
    <Pricing />
    <NotThis />
    <Engage />
  </main>
  <SiteFooter />
</Base>
